.add-plan {
  margin-top: -30px;
  background-color: $special-grey--dark;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    margin-top: -61px;
    border-top-left-radius: 56px;
    border-top-right-radius: 56px;
  }
}

.add-plan .container {
  padding-top: 28px;
  padding-bottom: 140px;
  background-color: $special-grey--dark;

  @media (min-width: $tablet-width) {
    padding: 50px 75px 130px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 60px 167px;
  }
}

.add-plan__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &::after {
    content: "";
    display: block;
    min-width: 5px;
    width: 5px;
    height: 5px;
    margin-right: 35px;
    border-radius: 50%;

    @media (max-width: $mobile-width-only) {
      margin-top: 3px;
    }

    @media (min-width: $tablet-width) {
      min-width: 6px;
      width: 6px;
      height: 6px;
      margin-top: 1px;
      margin-right: 67px;
    }

    @media (min-width: $desktop-width) {
      content: none;
    }
  }

  &--1::after {
    background-color: $basic-blue--dark;
    box-shadow:
      21px 0 0 0 rgba($basic-blue--dark, 0.3),
      42px 0 0 0 rgba($basic-blue--dark, 0.3);


    @media (min-width: $tablet-width) {
      box-shadow:
        35px 0 0 0 rgba($basic-blue--dark, 0.3),
        70px 0 0 0 rgba($basic-blue--dark, 0.3);
    }
  }

  &--2::after {
    background-color: rgba($basic-blue--dark, 0.3);
    box-shadow:
      21px 0 0 0 $basic-blue--dark,
      42px 0 0 0 rgba($basic-blue--dark, 0.3);

    @media (min-width: $tablet-width) {
      box-shadow:
        35px 0 0 0 $basic-blue--dark,
        70px 0 0 0 rgba($basic-blue--dark, 0.3);
    }
  }

  &--3::after {
    background-color: rgba($basic-blue--dark, 0.3);
    box-shadow:
      21px 0 0 0 rgba($basic-blue--dark, 0.3),
      42px 0 0 0 $basic-blue--dark;

    @media (min-width: $tablet-width) {
      box-shadow:
        35px 0 0 0 rgba($basic-blue--dark, 0.3),
        70px 0 0 0 $basic-blue--dark;
    }
  }

  @media (min-width: $desktop-width) {
    display: inline;
    margin-left: 69px;
  }
}
